<div class="order-confirmation-note">
    <img src="https://image.flaticon.com/icons/png/128/11/11112.png"
         class="cake-icon"
         alt="cake-icon" />
    <h1 class="text-center">Your Order Has Been Confirmed</h1>
    <br />
    <h2 class="text-center">Cakes Are On Their Way </h2>
    <br />
    <br />
    <h2 class="text-center">Thank You For Shopping At "Bake My World"</h2>
</div>

