@model IEnumerable<BakeMyWorld.Website.Data.Entities.Corporate>
@{
    ViewData["Title"] = "Corporate";
}

<link rel="stylesheet" href="~/css/components/corporate-components.css" />


<main class="v-container">
    <div class="v-container">
        <img class="hero-img"
             src="https://cdn.pixabay.com/photo/2016/07/18/19/29/dessert-1526599_1280.jpg"
             alt="hero-img" />
        <p class="central-on-top hero-text-style">Corporate</p>
    </div>

    <div class="h-container main-content justify-content-between align-items-to-flex-start">

        <div class="v-container sidebar-container">
            <ul>
                <li><a asp-area="" asp-controller="Categories" asp-action="Index">PRODUCT CATEGORIES</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="BakingClasses">CLASSES</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="PublicClasses">Public Classes</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="PrivateClasses">Private Classes</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="SpecialClasses">Special Classes</a></li>
                <li><a asp-area="" asp-controller="Corporates" asp-action="Index">Corporate</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="LocationHire">Location Hire </a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="AboutUs">About US</a></li>
                <div class="emergency-contact-container">
                    <p>For a cake emergency</p>
                    <p>call our stores</p>
                    <p>PRIMROSE HILL STORE</p>
                    <p>02074834222</p>
                    <p>WhatsApp</p>
                    <p>078 0227 5205</p>
                </div>
</div>

        <div class="v-container information-block">

            <p class="corporate-intro-text">
                Selection of products designed for your corporate needs and office breaks!
            </p>

            <div class="sort-menu">
                <span>view as</span>
                <select class="sort-menu-select" name="view-as">
                    <option value="grid">Grid</option>
                    <option value="list">List</option>
                </select>

                <span>Sort by</span>
                <select class="sort-menu-select" name="Sort-by">
                    <option value="position">position</option>
                    <option value="a-z">name: A-Z</option>
                    <option value="z-a">name: Z-A</option>
                </select>

                <span>Display </span>
                <select class="sort-menu-select" name="display">
                    <option value="3">3</option>
                    <option value="6">6</option>
                    <option value="9">9</option>
                </select>
                <span>per page</span>
            </div>

            <div class="grid-container">
                @foreach (var item in Model)
                {
                    <a asp-route="corporatedetails" asp-route-urlSlug="@item.UrlSlug">
                        <div class="image-container">
                            <img class="product-img"
                                 src="@item.ImageUrl"
                                 alt="corporate" />
                            <p class="image-title">@Html.DisplayFor(modelItem => item.Name)</p>
                         
                        </div>
                    </a>
                }
            </div>


        </div>
    </div>
</main>


