@model IEnumerable<BakeMyWorld.Website.Data.Entities.Category>

@{
    ViewData["Title"] = "Explore Categories";
}


<link rel="stylesheet" href="~/css/components/orderonline-components.css"/>
<div class="grid-container">
    @foreach (var item in Model)
    {
        <a asp-route="categorydetails" asp-route-urlSlug="@item.UrlSlug">
            <div class="image-container">
                <img class="product-img"
                     src="@item.ImageUrl"
                     alt="cake-category" />
                <p class="image-title">@Html.DisplayFor(modelItem => item.Name)</p>
            </div>
        </a>
    }   
</div>