@{
    ViewData["Title"] = "About Us";
}

<link rel="stylesheet" href="~/css/components/aboutus-components.css" />
<div class="h-container main-content justify-content-between align-items-to-flex-start">

    <div class="v-container  classes-information-block">

        <div class="h-container classes-buttons-container justify-content-evenly">
            <div class="grid-container">
                <div class="image-container">
                    <a asp-area="" asp-controller="Home" asp-action="OurStory">
                        <img class="product-img"
                             src="https://foodandmood.com.ua/i/70/92/08/709208/c808cbc750c5ea9743b2e983a4febf41-resize_crop_1Xquality_100Xallow_enlarge_0Xw_1200Xh_630.jpg"
                             alt="product" />
                    </a>
                    <p class="image-title">Our Story</p>
                </div>

                <div class="image-container">
                    <a asp-area="" asp-controller="Home" asp-action="Press">
                        <img class="product-img"
                             src="https://www.modernwedding.com.au/wp-content/uploads/2014/07/21/Cakes17-cover.jpg"
                             alt="product" />
                    </a>
                    <p class="image-title">Press</p>
                </div>

                <div class="image-container">
                    <a asp-area="" asp-controller="Home" asp-action="VisitUs">
                        <img class="product-img"
                             src="https://mega.ru/upload/iblock/3c2/3c266e0e5899837a0e67d8eb44f8c759.png"
                             alt="product" />
                    </a>
                    <p class="image-title">Contact Us</p>
                </div>
            </div>
        </div>
    </div>
</div>
