@{
    ViewData["Title"] = "Bake My World";
}

<link rel="stylesheet" href="~/css/components/homepage-components.css"/>
<div class="h-container align-items-to-flex-start">
    <div class="mini-image-container">
        <a asp-area="" asp-controller="Categories" asp-action="Index">
            <img class="product-img"
                 src="https://sweetmarin.ru/userfls/clauses/large/8040_tort-krasnyy-barkhat.jpg"
                 alt="product" />
        </a>
        <p class="image-title">Order Online</p>
    </div>
    <div class="mini-image-container">
        <a asp-area="" asp-controller="Home" asp-action="BakingClasses">
            <img class="product-img"
                 src="https://gozend.com/wp-content/uploads/2019/07/baking-soda.jpg"
                 alt="product" />
        </a>
        <p class="image-title">Baking Classes</p>
    </div>
    <div class="mini-image-container">
        <a asp-area="" asp-controller="Categories" asp-action="Index">
            <img class="product-img"
                 src="https://im0-tub-ru.yandex.net/i?id=f9abc7b9b668efb08ef7917c55bb54a1-l&ref=rim&n=13&w=1080&h=1350"
                 alt="product" />
        </a>
        <p class="image-title">Bestsellers</p>
    </div>
</div>
<div class="h-container">
    <div class="maxi-image-container">
        <a asp-area="" asp-controller="Corporates" asp-action="Index">
            <img class="product-img"
                 src="https://2.bp.blogspot.com/-7avJKLx3OtQ/TjovHVV6YuI/AAAAAAAACJk/ZOWeDJsHyPU/s1600/IMG_6143es.jpg"
                 alt="product" />
        </a>
        <p class="image-title">For Your Corporate Needs and Office Breaks</p>
    </div>
</div>
<div class="h-container align-items-to-flex-start">
    <div class="mini-image-container">
        <a asp-area="" asp-controller="Home" asp-action="OurStory">
            <img class="product-img"
                 src="https://mota.ru/upload/resize/1024/1024/upload/wallpapers/2018/05/14/10/50/57069/15262841675af93f876b5537.07860489-823.jpg"
                 alt="product" />
        </a>
        <p class="image-title">Our Humble Story</p>
    </div>
    <div class="mini-image-container">
        <a asp-area="" asp-controller="Home" asp-action="Press">
            <img class="product-img"
                 src="https://wallbox.ru/resize/960x854/wallpapers/main/201522/b704c936401d1f3.jpg"
                 alt="product" />
        </a>
        <p class="image-title">Press About Us</p>
    </div>
    <div class="mini-image-container">
        <a asp-area="" asp-controller="Home" asp-action="VisitUs">
            <img class="product-img"
                 src="https://im0-tub-ru.yandex.net/i?id=719f619d2696c70f026919ff87ff1114-l&ref=rim&n=13&w=1024&h=1024"
                 alt="product" />
        </a>
        <p class="image-title">Visit Us</p>
    </div>
</div>
