@{
    ViewData["Title"] = "Location Hire";
}

<link rel="stylesheet" href="~/css/components/locationhire-components.css"/>
<div class="v-container">
    <div class="h-container main-content justify-content-between align-items-to-flex-start">
        <div class="side-pictures">
            <img src="https://artsdot.com/ADC/Photos-ImgScreen.nsf/O/P-AC7395/$FILE/Food-cakes_14_.Jpg" alt="">
        </div>


        <div class="v-container information-block">
            <h2 class="classes-information-block-title"> LOCATION HIRE</h2>
            <p class="location-intro-text">
                The bakery is available for hire for still or video shoots.
                Prices depend on date, time and team size.
                Please email primrosehill@primrose-bakery.co.uk for details and rates
            </p>
            <div class="mapouter"><div class="gmap_canvas"><iframe width="500" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=69%20Gloucester%20Avenue,%20London%20NW1%208LD&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org">123movies</a><br>
            <style>
                .mapouter {
                    position: relative;
                    text-align: right;
                    height: 400px;
                    width: 500px;
                }
            </style><a href="https://www.embedgooglemap.net">embed google maps in gmail</a>
            <style>
                .gmap_canvas {
                    overflow: hidden;
                    background: none !important;
                    height: 400px;
                    width: 500px;
                }
            </style></div></div>
        </div>

        <div class="h-container sidebar-container align-items-central ">
            <ul>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="BakingClasses">CLASSES</a>
                    <a asp-area="" asp-controller="Home" asp-action="BakingClasses">
                        <img class="cake-img" src="https://pbs.twimg.com/media/DC1ipAJWsAA6f7j.jpg" alt="cake-img" />
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Categories" asp-action="Index">PRODUCT CATALOGUE</a>
                    <p>Cupcake, Celebration Cakes, Loaves and Slices</p>
                    <a asp-area="" asp-controller="Categories" asp-action="Index">
                        <img class="cake-img" src="https://i.pinimg.com/originals/04/f1/27/04f127a4dc695b5e6790b8f8be31c1a5.jpg" alt="cake-img" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
