@{
    ViewData["Title"] = "Our Story";
}

<link rel="stylesheet" href="~/css/components/ourstory-components.css"/>
<div class="v-container">
    <div class="h-container main-content justify-content-between align-items-to-flex-start">
        <div class="v-container sidebar-container">
            <div class="emergency-contact-container">
                <p>For a cake emergency</p>
                <p>call our stores</p>
                <p>PRIMROSE HILL STORE</p>
                <p>02074834222</p>
                <p>WhatsApp</p>
                <p>078 0227 5205</p>
                <img src="https://image.flaticon.com/icons/png/128/11/11112.png"
                     alt="" />
            </div>
        </div>

        <div class="v-container information-block">
            <h2 class="classes-information-block-title">OUR STORY</h2>
            <div class="location-intro-text">
                <p>
                    Primrose Bakery was founded in October 2004.
                    Martha Swift and then business partner,
                    Lisa Thomas started by baking for children's
                    birthday parties before realizing how popular
                    cake was with adults too!
                </p>
                <p>
                    15 years later and Martha is the sole owner and the
                    business continues to grow from strength to strength,
                    with our bakery in Primrose Hill delivering all across
                    London, 5 bestselling cookbooks and an app.
                </p>
                <p>
                    As this is still a family business we have tried to keep all the ingredients seasonal,
                    well sourced and of the highest quality. Everything is hand iced and baked in small batches to really give the essence of simple old fashioned cooking.
                </p>
            </div>
            <div class="bottom-image-container">
                <img class="bottom-image" src="https://cdn.pixabay.com/photo/2016/07/18/19/26/dessert-1526592_1280.jpg" />
            </div>
        </div>
        <div class="h-container sidebar-container align-items-central ">
            <ul>
                <li>
                    <p><a asp-area="" asp-controller="Home" asp-action="BakingClasses">CLASSES</a></p>
                    <a asp-area="" asp-controller="Home" asp-action="BakingClasses">
                    <img class="cake-img" src="https://pbs.twimg.com/media/DC1ipAJWsAA6f7j.jpg" alt="cake-img" />
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Categories" asp-action="Index">PRODUCT CATALOGUE</a>
                    <p>Cupcake, Celebration Cakes, Loaves and Slices</p>
                    <a asp-area="" asp-controller="Categories" asp-action="Index">
                        <img class="cake-img" src="https://i.pinimg.com/originals/04/f1/27/04f127a4dc695b5e6790b8f8be31c1a5.jpg" alt="cake-img" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>