@{
    ViewData["Title"] = "Press About Us";
}

<link rel="stylesheet" href="~/css/components/press-components.css" />
<div class="v-container">
    <div class="h-container main-content justify-content-between align-items-to-flex-start">

        <div class="v-container sidebar-container">

            <div class="emergency-contact-container">
                <p>For a cake emergency</p>
                <p>call our stores</p>
                <p>PRIMROSE HILL STORE</p>
                <p>02074834222</p>
                <p>WhatsApp</p>
                <p>078 0227 5205</p>
                <img src="https://image.flaticon.com/icons/png/128/11/11112.png"
                     alt="" />
            </div>

        </div>

        <div class="h-container information-block">
            <div class="grid-container">
                <div class="image-container">
                    <a href="#">
                        <img class="press-img"
                             src="https://www.modernwedding.com.au/wp-content/uploads/2014/07/21/Cakes17-cover.jpg"
                             alt="press" />
                    </a>
                </div>

                <div class="image-container">
                    <a href="#">
                        <img class="press-img"
                             src="https://i.pinimg.com/736x/9b/e8/f6/9be8f6247b64ae9794dc800f63c23635.jpg"
                             alt="press" />
                    </a>
                </div>

                <div class="image-container">
                    <a href="#">
                        <img class="press-img"
                             src="https://image.isu.pub/150704164415-caf160991964bd0cb2dac09c36821906/jpg/page_1.jpg"
                             alt="press" />
                    </a>
                </div>

                <div class="image-container">
                    <a href="#">
                        <img class="press-img"
                             src="http://www.lirc.ro/wp-content/gallery/good-food-2010/Good-Food-iulie-august10.jpg"
                             alt="press" />
                    </a>
                </div>

                <div class="image-container">
                    <a href="#">
                        <img class="press-img"
                             src="https://s3-eu-west-1.amazonaws.com/isubscribeuk/images/covers/uk/81/14508/large/PWA.jpg"
                             alt="press" />
                    </a>
                </div>

                <div class="image-container">
                    <a href="#">
                        <img class="press-img"
                             src="https://5b06f7a1cd.optimicdn.com/media/upload/image/cuisine-actuelle/cuisine-actuelle_n-308_juillet-2016.jpg"
                             alt="press" />
                    </a>
                </div>

                <div class="image-container">
                    <a href="#">
                        <img class="press-img"
                             src="https://www.isubscribe.com.au/images/covers/au/33/16235/xlarge/DiabeticLiving218202023332.jpg"
                             alt="press" />
                    </a>
                </div>

                <div class="image-container">
                    <a href="#">
                        <img class="press-img"
                             src="http://images.midwestliving.mdpcdn.com/sites/midwestliving.com/files/styles/slide/public/550_February-1998.jpg?itok=TUpA0o2V"
                             alt="press" />
                    </a>
                </div>

                <div class="image-container">
                    <a href="#">
                        <img class="press-img"
                             src="https://www.backissues.com/cgi-bin/magazines.cgi?full/BHAG200611.JPG"
                             alt="press" />
                    </a>
                </div>

                <div class="image-container">
                    <a href="#">
                        <img class="press-img"
                             src="http://2.bp.blogspot.com/_C7blMxjWiKg/SrpmRmuHHOI/AAAAAAAAAg0/fDNKp9ir36s/s320/holiday+baking+09.jpg"
                             alt="press" />
                    </a>
                </div>

                <div class="image-container">
                    <a href="#">
                        <img class="press-img"
                             src="http://www.coverbrowser.com/image/cooking-light/101-1.jpg"
                             alt="press" />
                    </a>
                </div>

                <div class="image-container">
                    <a href="#">
                        <img class="press-img"
                             src="https://pizzazzerie.com/wp-content/uploads/2012/09/Sweet-Cover.jpg"
                             alt="press" />
                    </a>
                </div>
            </div>

            <div class="v-container sidebar-container align-items-to-flex-start ">
                <ul>
                    <li>
                        <p><a asp-area="" asp-controller="Home" asp-action="BakingClasses">CLASSES</a></p>
                        <a asp-area="" asp-controller="Home" asp-action="BakingClasses">
                        <img class="cake-img" src="https://pbs.twimg.com/media/DC1ipAJWsAA6f7j.jpg" alt="cake-img" />
                    </a>
                            </li>
                    <li>
                        <a asp-area="" asp-controller="Categories" asp-action="Index">PRODUCT CATALOGUE</a>
                        <p>Cupcake, Celebration Cakes, Loaves and Slices</p>
                        <a asp-area="" asp-controller="Categories" asp-action="Index">
                            <img class="cake-img" src="https://i.pinimg.com/originals/04/f1/27/04f127a4dc695b5e6790b8f8be31c1a5.jpg" alt="cake-img" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

