
@{
    ViewData["Title"] = "Public Classes";
}


<link rel="stylesheet" href="~/css/components/classes-components.css" />



<div class="h-container main-content justify-content-between align-items-to-flex-start">
    <div class="v-container category-list-container">
        <ul>
            <li><a asp-area="" asp-controller="Categories" asp-action="Index">PRODUCT CATEGORIES</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="BakingClasses">CLASSES</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="PublicClasses">Public Classes</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="PrivateClasses">Private Classes</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="SpecialClasses">Special Classes</a></li>
            <li><a asp-area="" asp-controller="Corporates" asp-action="Index">Corporate</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="LocationHire">Location Hire </a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="AboutUs">About US</a></li>
        </ul>
        <div class="emergency-contact-container">
            <p>For a cake emergency</p>
            <p>call our stores</p>
            <p>PRIMROSE HILL STORE</p>
            <p>02074834222</p>
            <p>WhatsApp</p>
            <p>078 0227 5205</p>
        </div>
    </div>
    <div class="v-container classes-information-block">
        <h1 class="product-name">Public Classes</h1>
        <h5 class="instruction-title">Order Instructions</h5>
        <p class="instructions">
            Please note: We do not offer baking courses at this time! We only offer decorating courses.
            Please enquire about private / personal baking courses!
        </p>
        <p>
            <strong>
                CUPCAKES & LAYER CAKE MASTERCLASS
                <br />
                £80.00 per person, maximum 15 people
            </strong>
        </p>
        <p>
            We have added to our standard class to make it extra special! You can now learn how to ice cupcakes and also a vanilla layer cake in the same class. Our Head Chefs will show you how to ice cupcakes and a layer cake with the Primrose signature swirl, ice using a palette knife and create masterpieces with piping!

        </p>
        <br />
        <p>
            All participants will receive:
            <br />
            * complimentary tea, coffee and cold drinks during the class   <br />
            * Our signature white Primrose Bakery apron to wear during the class   <br />
            * a box to take away all that you make  <br />
            * PLUS a voucher for a free delicious primrose cupcake to redeem next time you come in!   <br />
        </p>
        <p>
            With a maximum of 15 people per class, it is a fun and personal experience which makes the
            perfect morning or afternoon out with friends or a loved one. Vouchers are available to
            purchase for redemption against our regular classes. Places are strictly limited,
            so early bookings are essential. Read about one of our attendees experiences at the
            cupcake decorating classes. Please note that themed classes are a different price due to
            the change in class content.
        </p>
        <p>
            Please note that classes must have a minimum number of 11 participants attending.
            In the unlikely event we cancel a class, you will receive a full refund.
            Primrose Bakery cannot take responsibility for any loss of money (including travel costs)
            resulting in the cancellation of a class.
        </p>
        </div>
</div>