@{
    ViewData["Title"] = "Visit Us";
}

<link rel="stylesheet" href="~/css/components/contactus-components.css"/>
<div class="v-container">
    <div class="h-container main-content justify-content-between align-items-to-flex-start">
        <div class="h-container align-items-central">
            <img class="location-img"
                 src="https://www.primrose-bakery.co.uk/uploads/contentimages/Martha-Swift.jpg" />
            <div class="information-about-us">
                <p>Primrose Hill</p>
                <p>69 Gloucester Avenue, London NW1 8LD</p>
                <br />
                <p>Tel 020 7483 4222</p>
                <p>WhatsApp 078 0227 5205</p>
                <p>primrosehill@primrose-bakery.co.uk</p>
                <br />
                <p>Opening Hours</p>
                <p>Monday-Sunday 9am-5pm.</p>
                <p>Closed Christmas Day, Boxing Day and New Year's Day</p>
            </div>
        </div>
    </div>

    <div class="mapouter align-self-center">
        <div class="gmap_canvas">
            <iframe width="1000"
                    height="500"
                    id="gmap_canvas"
                    src="https://maps.google.com/maps?q=69%20Gloucester%20Avenue,%20London%20NW1%208LD&t=&z=15&ie=UTF8&iwloc=&output=embed"
                    frameborder="0"
                    scrolling="no"
                    marginheight="0"
                    marginwidth="0"></iframe><a href="https://2torrentz.net">torrentz</a><br />
            <style>
                .mapouter {
                    position: relative;
                    text-align: right;
                    height: 500px;
                    width: 1000px;
                }
            </style><a href="https://www.embedgooglemap.net">embedgooglemap.net</a>
            <style>
                .gmap_canvas {
                    overflow: hidden;
                    background: none !important;
                    height: 500px;
                    width: 1000px;
                }
            </style>
        </div>
    </div>
</div>


