.main-content {
  margin-top: 10%;
  margin-bottom: 20%;
  margin-right: 10%;
  margin-left: 5%;
}

p.hero-text-style {
  color: rgb(207, 115, 173);
  font-size: 5.875em;
  opacity: 0.8;
}

.corporate-intro-text {
    text-align: center;
    margin-top: 3%;
}

.sidebar-container {
  width: 60vw;
}

.sidebar-container ul {
  margin-top: 10px;
  list-style-type: none;
}

.sidebar-container ul li {
  padding: 15px;
  border: 0.3px solid grey;
  background-color: rgb(253, 249, 249);
}

.sidebar-container ul li:hover {
  background-color: rgb(252, 181, 181);
}

.emergency-contact-container {
  align-self: center;
  text-align: center;
  font-weight: lighter;
  padding: 7px;
  width: 24vw;
  background-color: white;
  box-shadow: rgb(177, 177, 177) 10px 10px;
  opacity: 0.5;
}

.sort-menu {
  background-color: rgb(211, 166, 197);
  text-align: center;
  padding: 10px;
  margin-left: 5%;
  margin-bottom: 3%;
}

.sort-menu-select {
  width: 90px;
  height: 30px;
}

.grid-container {
  display: grid;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 30%;
  grid-template-columns: 35% 35% 35%;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  justify-self: center;

  margin: 5px;
}

.product-img {
  width: 18em;
  height: 10em;
}

.font-white {
  color: white;
  font-weight: bold;
  font-size: 26px;
}

.product-img:hover {
  opacity: 0.5;
}

.information-block {
  width: 140vw;
}

.information-block > * {
  margin-left: 5%;
  margin-bottom: 3%;
}

@media only screen and (max-width: 896px) {
  .hero-text {
    display: none;
  }

  .main-content {
    margin-left: 0%;
    margin-right: 0%;
  }
}

@media only screen and (max-width: 620px) {
  main > * > * {
    width: 100%;
  }

  .main-content > * {
    margin: 2%;
    width: 96%;
  }

  .main-content > * > * {
    margin: 2%;
    width: 96%;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
